{% extends "hearthub/layout.html" %}
{% load static %}
{% block title %} Heart Hub {% endblock %}
{% block page-title %} Heart Hub - {{ user }} {% endblock %}
{% block body %}
<h2 id="date-title">{{ dateTitle }}</h2>

<!-- Water -->
<div class="card water_card home" id="water">
  <h5 class="card-title">💧 Water Tracking</h5>
  <div class="water-scale">
    <div class="cups">Glasses of waterglasses</div>
    <div>
      <form method="post" action="{% url 'water' %}">
        {% csrf_token %}
        <input type="number" name="water_today" id="water_today" style="display: none" value="{{ water_today }}" />
        <input type="number" name="capacity" id="capacity" style="display: none" value="100" />
        <button class="btn btn-light" name="add_water">➕</button>
        <br /><br />
        <button class="btn btn-light" name="remove_water">➖</button>
      </form>
    </div>
  </div>
  <p class="card-text"><em>{{ water_today }} mL</em></p>
  <p class="card-text display_none" id="water-message">{{ water_message }}</p>
  <hr>
  <form action="{% url 'water' %}" method="post">
    {% csrf_token %}
    <div class="flexColumnCenter water_form">
      <div>Fluid Restriction (mL)</div>
      <input type="number" value="{{ fluidrestriction }}" id="FR" name="FR" step="100" />
    </div>
    <button id="changeFR" name="changeFR" class="btn btn-outline-danger display_none" type="submit" method="post">
      Save
    </button>
  </form>
  <button href="#" class="btn btn-danger m10" onclick="expand_view('water_card', this)">More Information</button>
</div>

<!-- Weight -->
<div class="card weight_card home">
  <h5 class="card-title">⚖️ Weight Tracking</h5>
  <form id="weight_form" action="{% url 'weight' %}" method="post">
    {% csrf_token %}
    <div class="flexrow align-end">
      <input type="number" name="weight_today" id="weight_today" onkeydown="check_numeric('weight_today)"
        value="{% if weight_today %}{{ weight_today }}{% endif %}" placeholder=0><span>kg</span>
    </div>
    <button id="changeWeightToday" type="submit" class="btn btn-outline-danger display_none">Save</button>
  </form>
  {% if weight_change %}
  <p class="card-text"><b>{{ weight_change }}</b></p>
  {% endif %}
  <p class="card-text display_none" id="weight_message">{{ weight_message }}</p>
  <hr>
  <form action="{% url 'weight' %}" method="post">
    {% csrf_token %}
    <div class="flexColumnCenter water_form">
      <div>Ideal Dry Weight (kg)</div>
      <input type="number" value="{{ IBW }}" id="IBW" name="IBW" step="0.1" class="m10"/>
    </div>
    <button id="changeIBW" name="changeIBW" class="btn btn-outline-danger display_none" type="submit" method="post">
      Save
    </button>
  </form>
  <br><br>
  <button href="#" class="btn btn-danger m10" onclick="expand_view('weight_card', this)">More Information</button>
</div>

<!-- Symptom Card -->
<div class="card symptom_card home">
  <h5 class="card-title">🫀 Symptom Check</h5>
  <p class="card-text">Rate the severity of your symptoms</p>

  <!-- Source: https://www.heart.org/-/media/Files/Health-Topics/Heart-Failure/HF-Symptom-Tracker.pdf -->
  <form action="{% url 'symptoms' %}" method="post" id="symptoms_cards">
    {% csrf_token %}
    <!-- Breathlessness -->
    <div class="card scale">
      <div>Breathlessness</div>
      <div class="flexrow">
        <input type="radio" class="btn-check" name="breathlessness" id="breathlessness_success-outlined"
          autocomplete="off" value="1" {% if breathlessness == 1 %} checked {% endif %}>
        <label class="btn btn-outline-success" for="breathlessness_success-outlined"
          onclick="symptoms('breathlessness', this)">1</label>

        <input type="radio" class="btn-check" name="breathlessness" id="breathlessness_warning-outlined"
          autocomplete="off" value="2" {% if breathlessness == 2 %} checked {% endif %}>
        <label class="btn btn-outline-warning" for="breathlessness_warning-outlined"
          onclick="symptoms('breathlessness', this)">2</label>

        <input type="radio" class="btn-check" name="breathlessness" id="breathlessness_danger-outlined"
          autocomplete="off" value="3" {% if breathlessness == 3 %} checked {% endif %}>
        <label class="btn btn-outline-danger" for="breathlessness_danger-outlined"
          onclick="symptoms('breathlessness', this)">3</label>
      </div>
      <p id="breathlessness_message" </p>
    </div>

    <!-- Cough -->
    <div class="card scale flexrow">Cough
      <div class="flexrow">
        <input type="radio" class="btn-check" name="cough" id="cough_1" autocomplete="off" value="1" {% if cough == 1 %}
          checked {% endif %}>
        <label class="btn btn-outline-success" for="cough_1" onclick="symptoms('cough', this)">1</label>

        <input type="radio" class="btn-check" name="cough" id="cough_2" autocomplete="off" value="2" {% if cough == 2 %}
          checked {% endif %}>
        <label class="btn btn-outline-warning" for="cough_2" onclick="symptoms('cough', this)">2</label>

        <input type="radio" class="btn-check" name="cough" id="cough_3" autocomplete="off" value="3" {% if cough == 3 %}
          checked {% endif %}>
        <label class="btn btn-outline-danger" for="cough_3" onclick="symptoms('cough', this)">3</label>
      </div>
      <p id="cough_message"></p>
    </div>

    <!-- Legs Swelling -->
    <div class="card scale flexrow">Legs Swelling
      <div class="flexrow">
        <input type="radio" class="btn-check" name="leg_swelling" id="leg_swelling_1" autocomplete="off" value="1" {% if leg_swelling == 1 %} checked {% endif %}>
        <label class="btn btn-outline-success" for="leg_swelling_1" onclick="symptoms('leg_swelling', this)">1</label>

        <input type="radio" class="btn-check" name="leg_swelling" id="leg_swelling_2" autocomplete="off" value="2" {% if leg_swelling == 2 %} checked {% endif %}>
        <label class="btn btn-outline-warning" for="leg_swelling_2" onclick="symptoms('leg_swelling', this)">2</label>

        <input type="radio" class="btn-check" name="leg_swelling" id="leg_swelling_3" autocomplete="off" value="3" {% if leg_swelling == 3 %} checked {% endif %}>
        <label class="btn btn-outline-danger" for="leg_swelling_3" onclick="symptoms('leg_swelling', this)">3</label>
      </div>
      <p id="leg_swelling_message"></p>
    </div>

    <!-- Abdominal Swelling -->
    <div class="card scale flexrow">Abdominal Swelling
      <div class="flexrow">
        <input type="radio" class="btn-check" name="abdomen_swelling" id="abdomen_swelling_1" autocomplete="off"
          value="1" {% if abdomen_swelling == 1 %} checked {% endif %}>
        <label class="btn btn-outline-success" for="abdomen_swelling_1"
          onclick="symptoms('abdomen_swelling', this)">1</label>

        <input type="radio" class="btn-check" name="abdomen_swelling" id="abdomen_swelling_2" autocomplete="off"
          value="2" {% if abdomen_swelling == 2 %} checked {% endif %}>
        <label class="btn btn-outline-warning" for="abdomen_swelling_2"
          onclick="symptoms('abdomen_swelling', this)">2</label>

        <input type="radio" class="btn-check" name="abdomen_swelling" id="abdomen_swelling_3" autocomplete="off"
          value="3" {% if abdomen_swelling == 3 %} checked {% endif %}>
        <label class="btn btn-outline-danger" for="abdomen_swelling_3"
          onclick="symptoms('abdomen_swelling', this)">3</label>
      </div>
      <p id="abdomen_swelling_message"></p>
    </div>

    <!-- Trouble Sleeping -->
    <div class="card scale flexrow">Trouble sleeping
      <div class="flexrow">
        <input type="radio" class="btn-check" name="sleeping" id="sleeping_1" autocomplete="off" value="1" {% if sleeping == 1 %} checked {% endif %}>
        <label class="btn btn-outline-success" for="sleeping_1" onclick="symptoms('sleeping', this)">1</label>

        <input type="radio" class="btn-check" name="sleeping" id="sleeping_2" autocomplete="off" value="2" {% if sleeping == 2 %} checked {% endif %}>
        <label class="btn btn-outline-warning" for="sleeping_2" onclick="symptoms('sleeping', this)">2</label>

        <input type="radio" class="btn-check" name="sleeping" id="sleeping_3" autocomplete="off" value="3" {% if sleeping == 3 %} checked {% endif %}>
        <label class="btn btn-outline-danger" for="sleeping_3" onclick="symptoms('sleeping', this)">3</label>
      </div>
      <p id="sleeping_message"></p>
    </div>

    <!-- Other Symptoms -->
    <div class="card scale flexrow">Other symptoms
      <div class="flexrow">
        <input type="radio" class="btn-check" name="other" id="other_1" autocomplete="off" value="1" {% if other == 1 %}
          checked {% endif %}>
        <label class="btn btn-outline-success" for="other_1" onclick="symptoms('other', this)">1</label>

        <input type="radio" class="btn-check" name="other" id="other_2" autocomplete="off" value="2" {% if other == 2 %}
          checked {% endif %}>
        <label class="btn btn-outline-warning" for="other_2" onclick="symptoms('other', this)">2</label>

        <input type="radio" class="btn-check" name="other" id="other_3" autocomplete="off" value="3" {% if other == 3 %}
          checked {% endif %}>
        <label class="btn btn-outline-danger" for="other_3" onclick="symptoms('other', this)">3</label>
      </div>
      <p id="other_message"></p>
    </div>
    <p class="card-text display_none">{{ symptom_message }}</p>

    <button name="saveSymptoms" class="btn btn-outline-danger" type="submit">
      Save
    </button>
  </form>
  <p class="card-text"><b>{% if symptom_alert %}{{ symptom_alert }}{% endif %}</b></p>
  <button href="#" class="btn btn-danger m10" onclick="expand_view('symptom_card', this)">More Information</button>
</div>

<!-- Description Cards -->
<div class="card description about_card">
  <h5>❤️ About Us</h5>
  <img src="{% static 'hearthub/images/logo.png' %}">
  <div>
    <!-- Source: https://www.heartfoundation.org.au/your-heart/evidence-and-statistics/key-statistics-heart-failure -->
    <p>Heart failure affects almost 144, 000 people across Australia, with countless more getting diagnosed everyday. </p>
    <p>If you have heart failure, it's important to talk to your doctor and keep track of symptoms. These may include shortness of breath, weight changes or persistent coughing.</p>
    <p>Heart failure occurs when your heart isn't pumping blood as effectively as it should. Therefore, your body may not receive the oxygen it needs.</p>
    <p>Decompensated heart failure occurs when the symptoms of heart failure worsens. This is a serious medical condition that requires medical attention, and even hospitalisation in some cases.</p>
    <p>Keeping an eye out for the early symptoms of decompensation is important, so that your healthcare team can help optimise your heart health.</p>
  </div>
</div>

<div class="card description water_card">
  <h5>Fluid Restriction</h5>
  <img src="{% static 'hearthub/images/water.png' %}">
  <div>
    <p>Traditionally, patients with HF have been advised to limit fluid intake to prevent fluid overload, causing more
      strain on the heart to pump blood.</p>
    <p>Nowadays, fluid restriction is often used for people with acute decompensated heart failure.</p>
    <p>Talk to your doctor to check if this applies to you.</p>
    <p>Besides this, keep in mind to limit your sodium intake to 2,000mg per day. This can also help limit fluid
      retention and help with your symptoms.</p>
  </div>
</div>

<div class="card description weight_card p15">
  <h5>Weight Monitoring</h5>
  <img src="{% static 'hearthub/images/weigh.png' %}">
  <div>
    <p><b>Rember the 4W's daily:</b> Wake, Wee, Weigh, Write</p>
    <p>Monitoring weight is crucial in heart failure (HF) because it helps detect fluid retention, which is an early sign of worsening heart function — often before symptoms like breathlessness or swelling appear.</p>
    <p>Sudden weight gain (e.g. over 2 kg in 2–3 days) often signals fluid retention. This is a red flag that your heart is not able to circulate blood effectively.</p>
    <p>By catching this early, you can adjust your treatment quickly and prevent your chances of needing a hospital admission.</p>
  </div>
</div>

<div class="card description symptom_card">
  <h5 class="card-title">🫀 Monitoring Symptoms</h5>
  <img src="{% static 'hearthub/images/symptoms.png' %}">
  <div>
    <p>When living with heart failure, it's important for you, your family, and caregivers to stay alert to any changes
      in your symptoms. If new symptoms appear or existing ones suddenly worsen, contact your health care provider
      immediately. They may be able to adjust your medication or suggest lifestyle changes to help you feel better.</p>
    <hr>
    <h5>Symptoms to Monitor</h5>
    <p>Speak to your health care team to check which symptoms to watch closely. Common ones include:</p>
    <ul>
      <li>Shortness of breath or unusual fatigue during daily activities. Signs that fluid buildup is worsening include:
        Trouble breathing while lying flat or Sudden, intense shortness of breath during the night</li>
      <li>Irregular or racing heart rate.</li>
      <li>A sudden increase of 2kg or more in 48 hours. This can be triggered by fluid retention due to worsening heart
        function. </li>
      <li>Swelling from fluid buildup, especially in the ankles, lower legs, and feet — watch for increasing swelling.
      </li>
      <li>Blood pressure. Monitor your readings regularly and know your target range.</li>
      <li>Mental changes, such as confusion or difficulty thinking clearly. These may be noticed by loved ones before
        you do. </li>
    </ul>
  </div>
</div>
  {% endblock %}
