{% extends "hearthub/layout.html" %} {% block title %} Heart Hub {% endblock %}
{% block page-title %} Heart Hub - {{ user }} {% endblock %} {% block body %}
<h2 id="date-title">Water Intake - {{ dateTitle }}</h2>
<div class="card" id="water">
  <h5 class="card-title">💧 Water Tracking</h5>
  <form action="{% url 'water' %}" method="post">
    {% csrf_token %}
    <div class="flexrow water_form">
      <div>Fluid Restriction (mL)</div>
      <input
        type="number"
        disabled="True"
        value="{{ fluidrestriction }}"
        id="FR"
        name="FR"
      />
    </div>
    <button
      id="changeFR"
      name="changeFR"
      class="btn btn-primary"
      type="submit"
      method="post"
    >
      Change
    </button>
  </form>
  <div class="water-scale">
    <div class="cups">Glasses of waterglasses</div>
    <div>
      <form method="post" action="{% url 'water' %}">
        {% csrf_token %}
        <input type="number" name="water_today" id="water_today" style="display: none" value="{{ water_today }}"/>
        <input type="number" name="capacity" id="capacity" style="display: none" value="100"/>
        <button class="btn btn-light" name="add_water">➕</button>
        <br /><br />
        <button class="btn btn-light" name="remove_water">➖</button>
      </form>
    </div>
  </div>
  <p class="card-text"><em>{{ water_today }} mL</em></p>
  <p class="card-text" id="water-message">{{ water_message }}</p>

  <button
    class="btn btn-primary"
    id="editWaterRestriction"
    onclick="editwaterrestriction()"
  >Edit Restriction</button>
  <!-- Set a series of cups with - / + signs
   Each time a user presses a button, another cup appears or disappears -->
</div>
<div class="card water_card">I'm dancing in the rain lalalala</div>


{% endblock %}
